!!! 5
html
  head
    meta(charset="utf-8")
    title Google+ Scraper
  body
    pre
      strong Google+ Scraper
      br
      | by Frederic Hemberger (<a href="https://github.com/fhemberger/googleplus-scraper/">GitHub</a>)
      | 
      | Usage:
      | /<em>[Google+ User ID]</em>/                 &mdash; or &mdash;
      | /<em>[Google+ User ID]</em>/profile          Return user's public profile
      | 
      | /<em>[Google+ User ID]</em>/posts.<em>[format]</em>   Return user's posts, where <em>[format]</em> is either <em>json</em>, <em>rss</em> or <em>atom</em>
